:host ::ng-deep .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
  margin-top: 0px;
}

.ant-layout {
  background: #fff;
}

.page-wrapper {
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.page-wrapper #header {
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 100%
}

.page-wrapper #header .searchButton {
  font-size: 18px;
  text-align: center;
  line-height: 64px;
  top: 5px; 
}

.page-wrapper #header .search button i {
  margin-left: 10px;
  margin-right: 10px;
}

.page-wrapper .ant-layout-header {
  padding: 0;
}

.page-wrapper #logo {
  overflow: hidden;
  padding-left: 40px;
  float: left;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  white-space: nowrap;
}

.page-wrapper #logo img {
  height: 32px;
  margin-right: 16px;
}

.page-wrapper #logo img+img {
  height: 16px;
  position: relative;
  top: 1px;
}

.nav-phone-icon {
  position: absolute;
  right: 30px;
  top: 5px;
  z-index: 1;
  width: 16px;
  height: 22px;
  cursor: pointer;
}

.mian-wrapper {
  background: #fff;
  position: relative;
  margin-top: 64px;
  min-height: 680px;
}

.mian-wrapper ul {
  padding-top: 16px
}

.mian-wrapper ul li {
  padding-left: 24px;
}

.mian-wrapper ul li:focus {
  outline-width: 0;
}

:host ::ng-deep .nav-phone-icon {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .nav-phone-icon:hover {
  color: #1890ff;
}

.mian-wrapper .sider {
  border-right: 1px solid #e8e8e8;
  box-shadow: 0 6px 8px #f0f1f2;
  min-height: 676px;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 10;
}

.mian-wrapper .sider .ant-menu-vertical, .sider .ant-menu-inline {
  border-right: 0;
}

.mian-wrapper .content {
  margin: 24px 16px 0 224px!important;
}

@media only screen and (max-width: 767.99px) {
  .sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 10;
  }
  .mian-wrapper .content {
    margin: 24px 16px 0!important;
  }
  .nav-phone-icon {
    display: block;
  }
}