.categories nz-card {
    width: 123px;
    text-align: center;
}

.categories img {
    height: 53px;
    width: 60px;
    margin: 0px auto;
    padding-top: 6px;
}

.categories div nz-card {
    margin: 0 auto;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .09);
    border-color: rgba(0, 0, 0, .09);
}

@media only screen and (max-width: 767.99px) {
    .categories nz-card {
        width: 116px;
        font-size: 12px;
        text-align: center;
    }

    .categories img {
        height: 43px;
        width: 50px;
        margin: 0px auto;
        padding-top: 6px;
    }
}