.mian-content div img{
    height: 330px;  
    width: 100%;
}
.mian-content nz-card{
    margin:0 auto;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,.09);
    border-color: rgba(0,0,0,.09);
    width:240px;
    height:430px;
    overflow: hidden;
    text-overflow: ellipsis;
}