header {
    box-shadow: 0 2px 8px #f0f1f2;
    padding: 16px;
    margin-bottom: 16px;
}

header .user, header .team {
    font-size: 12px;
}

header .info {
    margin-top: 10px;
}

header .info span {
    font-size: 8px;
    color: #99a2aa;
}

.content {
    max-width: 1024px;
}

footer {
    margin-top: 16px;
    margin-bottom: 16px;
}

footer span {
    overflow: hidden;
}

footer span a {
    margin-right: 5px;
}

footer nz-list {
    box-shadow: 0 2px 8px #f0f1f2;
}

footer nz-list .btContentDict {
    widows: 100% !important;
}

footer div.btContentDict {
    margin-top: 16px;
}

footer div.btContentDict div {
    width: 100%;
}

footer div.btContentDict div span {
    float: right !important;
    position: relative;
    color: #cccccc;
}

footer .commments {
    margin-top: 16px;
}

footer button {
    margin-top: 16px;
}

.ant-list {
    font-size: 12px !important;
}

.color-bule {
    background-color: #1890ff;
    color: #fff;
}

.color-gre {
    background-color: #52c41a;
    color: #fff;
}

.pull-right {
    float: right !important;
    color: #cccccc;
    font-size: 10px;
    margin-right: 5px;
}