.teams nz-card {
    width: 170px;
    text-align: center;
}
.teams div nz-card{
    margin:0 auto;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,.09);
    border-color: rgba(0,0,0,.09);
}