<div>
    <h3>关于 動漫花園-Mobile</h3>
    <hr>
    <section>
        <div>
            <a href="https://gitlab.com/dmhy/dmhy-app/commits/master">
                <img alt="pipeline status" src="https://gitlab.com/dmhy/dmhy-app/badges/master/pipeline.svg" />
            </a>
        </div>
        <img src="../../assets/icons/icon-144x144.png" />
        <p>欢迎使用「動漫花園-Mobile」，本软件是在「動漫花園」 官网的基础上对界面进行了改造而制作的第三方软件。 </p>
        <p>
            本软件能够在手机端获得更好的体验，因为本软件对「動漫花園」界面进行了重新布局，使得他更加简洁、美观,当然这些优点同时也适应于PC端。
            同时本软件使用了PWA，所以你可以获得更好的体验，如：离线使用(<a target="_blank" href="https://lavas.baidu.com/ready">点击查看浏览器是否支持</a>)，更加的快速，可安装：用户可以它添加到桌面。
        </p>

        <p>意见和建议请发送QQ邮箱: <a [href]="'mailto:1170621609@qq.com' | safeUrl">1170621609@qq.com</a></p>
        <p>软件开源地址: <a [href]="'https://github.com/WuMortal' | safeUrl">https://github.com/WuMortal（暂未提交）</a></p>
        <p>作者 GitHub: <a [href]="'https://github.com/WuMortal' | safeUrl">https://github.com/WuMortal</a></p>
        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=f34a19e0302d3019d4f5b939169fa300bb1cbd11b5dde7d94c33b151f3943a9a"><img
                border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="動漫花園-Mobile 体验部" title="動漫花園-Mobile 体验部"></a>
        <p>本软件只用于学习和交流，如有侵权请告知删除！联系邮箱：<a [href]="'mailto:1170621609@qq.com' | safeUrl">1170621609@qq.com</a></p>
    </section>
</div>