<nz-spin [nzSpinning]="isLoading" [nzTip]='loadingTitle'>
  <div class="page-wrapper">
    <nz-header id="header">
      <div *ngIf="!isShowSearchBox" nz-col nzXs="18" nzSm="18" nzMd="8" nZLg="5" nzXl="5">
        <a href="" id="logo">
          <img alt="logo" src="../../assets/icons/logo-blue.png">
          <img alt="NG-ZORRO" src="../../assets/icons/logo-name.svg">
        </a>
      </div>
      <div nz-col nzXs="0" nzSm="0" nzMd="9" nZLg="7" nzXl="7" class="search-header">
        <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
          <input type="text" [(ngModel)]="keyword" nz-input placeholder="番剧名称">
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button (click)='searchPost()' nzType="primary" nzSize="large" nzSearch>搜索</button>
        </ng-template>
      </div>

      <!-- 手机端搜索框 -->
      <div *ngIf="isShowSearchBox" nz-col nzXs="18" nzSm="18" nzMd="0" nZLg="0" nzXl="0" class="search logo">
        <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixIconButton">
          <input (submit)='searchPost()' type="search" [(ngModel)]="keyword" nz-input placeholder="搜索番剧">
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nzSize="large" nz-button nzType="primary" (click)='searchPost()' nzSearch>
            <i nz-icon type="search"></i>
          </button>
        </ng-template>
      </div>

      <i *ngIf="!isShowSearchBox" nz-col (click)='isShowSearchBox=true' nzXs="2" nzSm="2" nzMd="0" nZLg="0" nzXl="0"
        nz-icon class="searchButton" type="search" theme="outline"></i>

      <i (click)='isShowSearchBox=false' nz-col nzXs="4" nzSm="4" nzMd="0" nZLg="0" nzXl="0" type="menu-fold" theme="outline"
        class="anticon nav-phone-icon" [class.anticon-menu-fold]="isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
        (click)="toggleCollapsed()"></i>
    </nz-header>
    <div class="mian-wrapper">
      <nz-layout>
        <nz-sider class="sider" style="background: #fff;" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate"
          [nzCollapsedWidth]="0" [nzBreakpoint]="'md'">

          <ul nz-menu [nzMode]="isCollapsed?'vertical':'inline'">

            <li routerLink="/topics" (click)="collapsedNav()" nz-menu-item [nzSelected]="routes['topics']">
              <span>
                <i nz-icon type="video-camera"></i>
                <span class="nav-text">最新资源</span>
              </span>
            </li>
            <li routerLink="/hotspot" (click)="collapsedNav()" nz-menu-item [nzSelected]="routes['hotspot']">
              <span>
                <i nz-icon type="fire"></i>
                <span class="nav-text">热门资源</span>
              </span>
            </li>
            <li routerLink="/programme" (click)="collapsedNav()" nz-menu-item [nzSelected]="routes['programme']">
              <span>
                <i nz-icon type="contacts"></i>
                <span class="nav-text">番剧索引</span>
              </span>
            </li>
            <li routerLink="/categories" (click)="collapsedNav()" nz-menu-item [nzSelected]="routes['categories']">
              <span>
                <i nz-icon type="hdd"></i>
                <span class="nav-text">资源类别</span>
              </span>
            </li>
            <li routerLink="/teams" (click)="collapsedNav()" nz-menu-item [nzSelected]="routes['teams']">
              <span>
                <i nz-icon type="team"></i>
                <span class="nav-text">字幕组</span>
              </span>
            </li>
            <li routerLink="/about" (click)="collapsedNav()" nz-menu-item [nzSelected]="routes['about']">
              <span>
                <i nz-icon type="solution"></i>
                <span class="nav-text">关于</span>
              </span>
            </li>
          </ul>
        </nz-sider>
        <nz-layout>

          <nz-content (mousedown)='contentcollapsedNav()' (mouseover)='isShowSearchBox=false' class="content example"
            style="margin:24px 16px 0; background: #fff;">
            <router-outlet> </router-outlet>
          </nz-content>

        </nz-layout>
      </nz-layout>
    </div>
    <nz-footer style="text-align: center;">WuMortal ©2018 動漫花園-Mobile
    </nz-footer>
  </div>
</nz-spin>