<div nz-row nzType="flex" nzJustify="start" class="categories">
  <div *ngFor="let category of categories" nz-col nzXs="8" nzSm="8" nzMd="6" nZLg="4" nzXl="4" class="card">
    <nz-card nzHoverable [nzCover]="coverTemplate">
      <nz-card-meta routerLink="/posts/category/{{ category.id }}" nzTitle="{{ category.name }}"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img routerLink="/posts/category/{{ category.id }}" alt="{{ category.name }}" src="../../assets/images/{{ category.id }}.gif" />
    </ng-template>
  </div>

</div>