<div nz-row nzType="flex" nzJustify="start" class="mian-content">
  <div nz-col *ngFor="let post of hotPosts" nzXs="24" nzSm="24" nzMd="12" nZLg="6" nzXl="6">
    <nz-card nzHoverable [nzCover]="coverTemplate">
      <a routerLink="/detail/{{ post.id }}">
        <nz-card-meta nzDescription="{{ post.name.length>52?post.name.substr(0,52)+'...':post.name }}"></nz-card-meta>
      </a>
    </nz-card>
    <ng-template #coverTemplate>
      <a routerLink="/detail/{{ post.id }}">
        <img alt="example" [src]="post.imgUrl | safeUrl" />
      </a>
    </ng-template>
  </div>
</div>