<section *ngIf="detatil">

  <header>
    <div class="title">
      <h3>{{ detatil.post.title }}</h3>
    </div>
    <div nz-row nzType="flex" nzJustify="start">
      <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" class="user">
        <span>發佈人：</span>
        <nz-avatar n nzIcon="anticon anticon-user" style="background-color:#87d068;" nzIcon="anticon anticon-user"
          nzSrc="{{ detatil.user.userAvatarImg }}">
        </nz-avatar>
        <a routerLink="/posts/user/{{detatil.user.userId}}"> {{ detatil.user.userName }} </a>
      </div>
      <div *ngIf="detatil.team.teamName" nz-colnzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" class="team">
        <span>所屬發佈組：</span>
        <nz-avatar nzIcon="anticon anticon-user" style="background-color:#87d068;" nzSrc="{{ detatil.team.teamLogoUrl }}">
        </nz-avatar>
        <a routerLink="/posts/team/{{detatil.team.teamId}}"> {{ detatil.team.teamName }} </a>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="start" class="info">
      <span nz-col nzXs="12" nzSm="6" nzMd="6" nzLg="6" nzXl="6">發佈時間: {{ detatil.post.dateTime }}</span>
      <span nz-col nzXs="12" nzSm="6" nzMd="6" nzLg="6" nzXl="6">文件大小: {{ detatil.post.fileSize }}</span>
      <span nz-col nzXs="12" nzSm="6" nzMd="6" nzLg="6" nzXl="6">所屬分類:
        <nz-tag [nzColor]="'blue'">{{detatil.post.category.name}}</nz-tag>
      </span>

    </div>
  </header>
  <div class="content" [innerHTML]='detatil.content | safeHtml'></div>
  <footer>

    <nz-list nzBordered [nzHeader]="'BT列表'">
      <nz-list-item>
        <span>會員專用連接: <a [href]="detatil.btDict[0].href | safeUrl ">{{ detatil.btDict[0].name }}</a></span>
      </nz-list-item>
      <nz-list-item>
        <span>Magnet連接: <a [href]="detatil.btDict[1].href | safeUrl ">{{ detatil.btDict[1].name }}</a></span>
      </nz-list-item>
      <nz-list-item>
        <span>Magnet連接typeII: <a [href]="detatil.btDict[2].href | safeUrl ">{{ detatil.btDict[2].name }}</a></span>

      </nz-list-item>
      <nz-list-item>
        <span>彈幕播放連接: <a [href]="detatil.btDict[3].href | safeUrl ">{{ detatil.btDict[3].name }}</a></span>
      </nz-list-item>
      <nz-list-item>
        <span>外部搜索連接: <a [href]="detatil.btDict[4].href | safeUrl ">{{ detatil.btDict[4].name }}</a></span>

      </nz-list-item>

    </nz-list>

    <div class="btContentDict">
      <h3>BT内容: </h3>
      <nz-list nzBordered nzSize="small">
        <nz-list-item [ngClass]="{'color-bule': i%2===0,'color-gre':i%2!==0}" *ngFor="let item of detatil.btContentDict,let i = index">
          <div>{{ item.name }} <span> {{ item.fileSize }}</span></div>
        </nz-list-item>
      </nz-list>
    </div>

    <div *ngIf="commments" class="commments">
      <h3>评论: </h3>
      <nz-list nzBordered nzSize="small">
        <nz-list-item *ngFor="let item of commments">
            <nz-list-item-meta
            [nzTitle]="nzTitle"
            nzAvatar="{{ item.userInfo.profilePictureUrl }}"
            nzDescription="{{item.content}}">
            <ng-template #nzTitle>
              <div class="userInfo">
                  <span>{{ item.userInfo.name }}</span>
                  <span class="pull-right">發表人IP: {{ item.userInfo.ipAddress }}</span>
                  <span class="pull-right">{{ item.userInfo.dateTime }}</span>
              </div>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </div>

    <button *ngIf="!commments" [nzLoading]="isLoad" nzBlock nz-button (click)="loadComments()" nzType="primary" [nzSize]="size"><i nz-icon
        type="download"></i>查看评论</button>
  </footer>
</section>