<nz-tabset [nzTabPosition]="nzTabPosition" [(nzSelectedIndex)]="selectedIndex" (nzOnNextClick)="tabsNext()"
  (nzOnPrevClick)="tabsPrev()">
  <nz-tab (nzClick)="tabsChange(tab.index)" *ngFor="let tab of tabs" [nzTitle]="tab.name">
    <nz-list [nzDataSource]="currentDramas" nzBordered [nzRenderItem]="item">
      <ng-template #item let-item>
        <nz-list-item routerLink="/search/{{ item.keyWord }}" [nzContent]="item.names">
          <img [src]="item.imgSrc.replace('http','https') | safeUrl">
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-tab>
</nz-tabset>,