<div nz-row nzType="flex" nzJustify="start" class="teams">
  <div *ngFor="let team of teams" nz-col nzXs="12" nzSm="12" nzMd="8" nZLg="4" nzXl="4" class="card">
    <nz-card routerLink="/posts/team/{{ team.id }}" nzHoverable [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="{{ team.name }}"></nz-card-meta>
    </nz-card>
  </div>
</div>