<div nz-col nzXs="24" nzSm="24" nzMd="24" nZLg="20" nzXl="20" class="postList">
  <div style="background: #fff; min-height: 360px;">
    <nz-card style="margin:10px 0px" *ngFor="let topic of topics">
      <a routerLink="/detail/{{ topic.htmlId }}">
        <div class="post-title">
          <h4> {{ topic.title }}</h4>
        </div>
      </a>
      <div class="post-info" nz-row nzType="flex" nzJustify="start">
        <div nz-col nzXs="12" nzSm="8" nzMd="8" nZLg="4" nzXl="4">{{ topic.dateTime }}</div>
        <div nz-col nzXs="12" nzSm="8" nzMd="8" nZLg="4" nzXl="4">发布人:
          <a [routerLink]="['/posts/user',topic.userId]">{{ topic.userName }}</a>
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="8" nZLg="4" nzXl="4">
          文件大小: {{ topic.fileSize }}
        </div>
        <div nz-col nzXs="12" nzSm="8" nzMd="8" nZLg="4" nzXl="4">磁链:
          <a [href]="topic.downloadArrow | safeUrl">
            <i nz-icon type="file" theme="outline"></i> 立即下载 </a>
        </div>
        <div *ngIf="topic.team.name" nz-col nzXs="12" nzSm="8" nzMd="8" nZLg="4" nzXl="4">字幕组:
          <a [routerLink]="['/posts/team',topic.team.id]">{{ topic.team.name }}</a> </div>
        <div nz-colnzXs="12" nzSm="8" nzMd="8" nZLg="4" nzXl="4">
          类别:
          <nz-tag [nzColor]="'magenta'">{{ topic.category.name }}</nz-tag>
        </div>
      </div>
    </nz-card>
    <button *ngIf="topics" (click)="loadMorePost()" [nzLoading]="isLoading" nzBlock nz-button nzType="primary" [nzSize]="size"><i
        nz-icon type="download"></i>加载更多</button>
  </div>
</div>